@media screen and (max-width: 1024px) {
    .hamburger_menu{
        display: grid;
    }
    .head_nav_sections{
        display: none;
    }
    #head_nav{
        grid-template-columns: 1fr 5fr 1fr 1fr;
    }
    .mobile_nav_sections.open {
        display: grid;
    }
    .about_con{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .about_cover{
        display: none;
    }
    .about_details_con{
        gap: 1rem;
    }
    .about_bg_con{
        gap: .5rem;
    }
    .about_details_con{
        align-items: center;
    }
    .about_pic img{
        width: calc(30vw * .75);
        min-width: 12rem;
    }
    .about_text p{
        text-align: justify;
    }
    #home {
        flex-direction: column;
        gap: 2rem;
    }
    .home_pic svg{
        height: clamp(200px,60vw,240px);
        width: clamp(200px,60vw,240px);
    }
    .home_pic{
        height: clamp(240px,60vw,280px);
        width: clamp(240px,60vw,280px);
    }
    #home_text_p2 {
        margin-bottom: .75rem;
    }
    .qualification{
        flex-direction: column;
    }
    .skill_all{
        flex-direction: column;
    }
    .skill_all{
        gap: 2rem;
        margin-top: 0;
    }
    #next, #prev{
        position: static;
        width: 1.8rem;
        height: 1.8rem;
        transform: translateY(0%);
    }
    .cert_nav{
        display: flex;
        align-items: center;
        gap: 6rem;
    }
}

@media screen and (max-width: 750px) {

}
@media screen and (max-width: 640px) {
    .nav_footer_links{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .contact_details_con{
        width: 7rem;
    }
    #contact_strip{
        gap: 1.2rem;
    }
    .dialog-box{
        padding: 2rem;
    }

    .project_sections{
        display: none;
    }

    .dialog_video{
        border-radius: 1rem;
    }

}
@media screen and (max-width: 420px) {
    .skill{
        gap: 1rem;  
    }
    .skill article {
        width: 10rem;
        gap: .7rem;
        padding: .65rem;
        border-radius: 6px;
    }
    .skill article h3, .skill article h5, .skill article p{
        font-size: 14px;
    }

    .icon, .contact_icon{
        width: 2rem;
        height: 2rem;
    }
}
@media screen and (max-width: 320px) {

}