@media screen and (max-width: 900px) {
    .hamburger_menu{
        display: grid;
    }
    .head_nav_sections{
        display: none;
    }
    #head_nav{
        grid-template-columns: 2fr 3fr 1fr 2fr;
    }
    .mobile_nav_sections.open {
        display: grid;
    }
    .about_con{
        flex-direction: column;
        gap: 1rem;
    }
    .about_details_con, .about_bg_con{
        gap: 1rem;
    }
    .about_pic img{
        width: calc(30vw * .75);
        height: calc(40vw * .75);
        min-width: 12rem;
        min-height: 16rem;
    }
}
@media screen and (max-width: 900px) {
    #home {
        flex-direction: column;
        gap: 2rem;
    }
    .home_pic {
        height: 240px;
        width: 240px;
    }
    .title{
        font-size: 2.25rem;
    }
    #home_text_p2 {
        font-size: 1.5rem;
        margin-bottom: .75rem;
    }
    .about_bg_con, .skill_all{
        flex-direction: column;
    }
}
@media screen and (max-width: 900px) {
    .card_list{
        padding-top: 240px;
    }
    .card{
        width: clamp(300px, 92vw, 700px);
        height: clamp(300px, 92vw, 530px);
        margin-top: -240px;
    }
    .animateY{
        transform: translateY(240px);
    }
    .exp_con{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    .animateY{
        transform: translateY(0);
    }
    .animateX{
        transform: translateX(0);
    }
    .card{
        margin-top: .5rem;
    }
    .card_list{
        padding-top: 0;
    }
}
@media screen and (max-width: 600px) {
    .exp_con{
        grid-template-columns: 1fr;
    }
    .nav_footer_links{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .contact_details_con{
        width: 7rem;
    }
    #contact_strip{
        gap: 1.2rem;
    }
}
@media screen and (max-width: 500px) {
    .card p{
        font-size: .8rem;
    }
}