@media screen and (max-width: 900px) {
    .hamburger_menu{
        display: grid;
    }
    .head_nav_sections{
        display: none;
    }
    #head_nav{
        grid-template-columns: 2fr 3fr 1fr 2fr;
    }
    .mobile_nav_sections.open {
        display: grid;
    }
    .about_con{
        flex-direction: column;
        gap: 1rem;
    }
    .about_details_con, .about_bg_con{
        gap: 1rem;
    }
    .about_pic img{
        width: calc(30vw * .75);
        height: calc(40vw * .75);
        min-width: 12rem;
        min-height: 16rem;
    }
}
@media screen and (max-width: 900px) {
    #home {
        flex-direction: column;
        gap: 2rem;
    }
    .home_pic {
        height: 240px;
        width: 240px;
    }
    #home_text_p2 {
        margin-bottom: .75rem;
    }
    .about_bg_con, .skill_all{
        flex-direction: column;
    }
    .exp_con{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    .exp_con{
        grid-template-columns: 1fr;
    }
    .nav_footer_links{
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }
    .contact_details_con{
        width: 7rem;
    }
    #contact_strip{
        gap: 1.2rem;
    }
}
@media screen and (max-width: 380px) {
    .card{
        min-width: 21rem;
        min-height: 21rem;
        margin: .5rem 1rem .5rem 1rem;   
    }
}
@media screen and (max-width: 320px) {
    .card p{
        font-size: 12px;
    }
}