@font-face {
    font-family: 'k2d';
    src: url('font/K2D-Regular.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'k2d', sans-serif;
}
:root{
    --title_font_size: clamp(26px,3vw,34px);
    --l: 20px;
    --m: 17px;
    --s: 14px;
    --ss: 13px;

}

#loaded{
    display: none;
    color: var(--_primary_color);
}
body.open{
    --bg_color: #fffffe;
    --navbar_color: #eff0f3;
    --primary_color: #0d0d0d;
    --secondary_color: #d9376e;
    --toggle_position: translateX(31px);
    --load_color: #ffffff;
    --title_color: #0d0d0d;
    --p_color: #2a2a2a;
    --tag_color: #ff8e3c;
    --card_shadow: rgba(0, 0, 0, 0.3);

  
}
body{
    --_primary_color: var(--primary_color, #fffffe);
    --_secondary_color: var(--secondary_color, #e53170);
    --_bg_color: var(--bg_color, #0f0e17);
    --_navbar_color: var(--navbar_color, #000000);
    --_toggle_position: var(--toggle_position, translateX(0));
    --_load_color: var(--load_color,#000000);
    --_title_color: var(--title_color, #fffffe);
    --_p_color: var(--p_color, #a7a9be);
    --_tag_color: var(--tag_color,#ff8906);
    --_card_shadow: var(--card_shadow, rgba(0, 0, 0, 0.6));

    background: var(--_bg_color);
}

::-webkit-scrollbar {
    width: 6px;
    z-index: 5000;
    border-radius: 2px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--_bg_color);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--_tag_color);
  }
#loading_screen{
    background-color: var(--_load_color);
    width: 100%;
    height: 100vh;
    height: 100svh;
    position: fixed;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4000;
}
html {
    scroll-behavior: smooth;
}
/* WEB NAV */
#head_nav{
    position: fixed;
    height: clamp(3.5rem,10vw,4rem);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: auto auto;
    place-items: center;
    z-index: 2000;
    transition: transform 0.3s ease-in;
    background: var(--_navbar_color);
    padding: 0 1rem 0 1rem;
}
.logo_con{
    height: clamp(3.5rem,10vw,4rem);
    display: grid;
    width: 100%;
    place-items: center;
}
.logo{
    height: 2rem;
    width: 2rem;
}
.head_nav_sections, .hamburger_menu{
    width: 100%;
    height: clamp(3.5rem,10vw,4rem);
    display: grid;
    place-items: center;
}
.hamburger_menu{
    width: 4rem;
}
.head_nav_sections ul{
    gap: 2.5rem;
    list-style: none;
    font-size: 1.5rem;
    display: flex;
}
a{
    color: var(--_title_color);
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    text-underline-offset: .5rem;
    text-decoration-color: var(--_tag_color);

    
}
.theme-switch-con{
    display: grid;
    place-content: center;
    width: 100%;
    height: clamp(3.5rem,10vw,4rem);
}
.theme-switch {
    width: 56px;
    height: 25px;
    background: var(--_bg_color);
    border-radius: 50px;
    position: relative;
    justify-self: end;
}
.theme-switch .switch {
    background: var(--_secondary_color);
    width: 19px;
    height: 19px;
    border-radius: 100%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: 0.5s all ease;
    z-index: 100;
    transform: var(--_toggle_position);
}
#sun_n_moon{
    height: 19px;
    width: 19px;
}
.hamburger_menu{
    display: none;
}
.hamburger_icon {
    display: block;
	float:left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #ecf0f1;
    text-align: center;
    transform: scale(.5);
}
.hamburger_icon span {
    height: 6px;
    width: 50px;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    background-color: var(--_primary_color);
}
.mobile_nav_sections{
    display: none;
    background: var(--_navbar_color);
    min-height: 140px;
    height: fit-content;
    margin: 2rem;
    padding: 1rem 0 2rem;
}
.mobile_nav_sections ul{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.mobile_nav_sections li{
    list-style: none;
    font-size: 1.2rem;
}
.mobile_nav_sections.open {
    display: none;
    width: 120%;
    place-items: center;
    grid-column: span 4;
    grid-row: span 1; 
}
.hamburger_icon.open span{
}
.hamburger_icon.open{
    transform: scale(.5);
    -webkit-transition: all 0.15s ease-in-out;
    -o-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.hamburger_icon.open span:first-child, .hamburger_icon.open span:last-child {
    -webkit-transition-delay: 0.15s;
    -o-transition-delay: 0.15s;
    transition-delay: 0.15s;
    width: 30px;
    height: 3px;

}
.hamburger_icon.open span:first-child{
    -webkit-transform: translateY(13px);
    -ms-transform: translateY(13px);
    -o-transform: translateY(13px);
    transform: translateY(13px);
    
}
.hamburger_icon.open span:nth-child(2) {
    width: 0px;
}
.hamburger_icon.open span:last-child {
    -webkit-transform: translateY(-13px) rotate(90deg);
    -ms-transform: translateY(-13px) rotate(90deg);
    -o-transform: translateY(-13px) rotate(90deg);
    transform: translateY(-13px) rotate(90deg);
}
.section_text_p1{
    text-align: center;
    color: var(--_p_color);
    font-weight: 600;
    padding-top: clamp(1rem,2vw,2rem);
    font-size: 16px;
}
.section_title,.section_title_me{
    font-size: var(--title_font_size);
    color: var(--_title_color);
    padding-bottom: clamp(1rem,2vw,2rem);
}
.section_title_me{
    color: var(--_secondary_color);
}
.section_title_2{
    display: flex;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 250px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
/*                                   HOME                                            */
#home {
    background-color: var(--_bg_color);
    height: clamp(440px, 100vh, 600px);
    height: clamp(440px, 100svh, 700px);
    gap: 4rem;

}
.home_pic{
    height: 350px;
    width: 350px;
}
.home_details_card {
    align-self: center;
    text-align: center;
}

.home_details_card p {
    font-weight: 600;
    /* text-shadow: 0 0 10px #01fff4; */ 
}
.home_text_p1 {
    text-align: center;
    color: var(--_p_color);
    font-size: clamp(14px,1.25vw,18px);
}
#home_text_p2 {
    margin-bottom: 1.5rem;
    color: var(--_secondary_color);
    height: 1.75rem;
    font-size: clamp(21px,2.5vw,27px);
}
.title {
    font-size: clamp(35px,5vw,45px);
    text-align: center;
    color: var(--_title_color);
}

#socmed_card {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
#socmed_card img, #contact_strip img{
    width: 2rem;
    height: 2rem;
    transition: transform .2s ease-out;
    cursor: pointer;
    user-select: none;
    -webkit-user-drag: none;

}
#socmed_card img:hover, #contact_strip img:hover{
    transform: scale(1.2);
}
/*                                   PROJECTS                                            */
#projects, #experience, #about, #contacts{
    flex-direction: column;
    height: fit-content;
    min-height: fit-content;
    background-color: var(--_bg_color);
    width: 100%;
}
.card_list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    overflow: hidden;
    width: 100%;
    align-items: center;
    padding-bottom: 1rem;
    max-width: 75.75rem;
}
.card_list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card_list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
.card_list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}
.card {
    width: 24.2rem;
    height: 24.2rem;
    border-radius: 10px;
    background: var(--_bg_color);
    /*box-shadow: -1rem 1rem 3rem #01fff4;*/
    display: grid;
    align-items: center;
    transition: transform 0.7s ease;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    grid-template-rows: 5fr 1fr 3fr 1fr;
    box-shadow: 0 5px 10px var(--_card_shadow);
    margin: .5rem;
}
.card-header {
    text-align: center;

}
.card-header h2 {
    font-size: var(--m);
    text-decoration: none;
    cursor: pointer;
    color: var(--_title_color);
    margin: .5vw;
}
.card p{
    font-size: var(--ss);
    margin: 0 1rem 0 1rem;
    align-self: flex-start;
    text-indent: 2em;
    color: var(--_p_color);
}
.project_img{
    width: 100%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.tags {
    display: flex;
    width: 100%;
    padding: 0 1rem .5rem 1rem;
    
}
.tags .tools, .tags .proj_links{
    display: flex;
    align-items: center;
    gap: .5rem;
}
.tags .proj_links{
    justify-content: flex-end;
    width: 20%;
}
.tags .tools{
    width: 80%;
}
.tags a {
    font-size: .3rem;
    color: #fffffe;
    text-transform: uppercase;
    font-size: .66rem;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
    background-color: var(--_tag_color);
}
.tags img{
    height: 1.6rem;
    width: 1.6rem;
    transition: transform .2s ease-out;
    user-select: none;
    -webkit-user-drag: none;
}
.tags img:hover {
    transform: scale(1.2);
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.dialog-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: .3rem;
    background-color: var(--_bg_color);
    padding: 1.3rem;
    box-shadow: 0 4px 8px var(--_card_shadow);
    width: clamp(320px, 100vw, 800px);
    height: fit-content;
    z-index: 3000;
}
.dialog_x{
    position: absolute;
    top: 1%;
    right: 1%;
    width: 2rem;
}
#janken{
    width: 100%;
    margin-top: 1rem;
}
.mt{
    width: 100%;
    height: 100%;
}

/*                                   EXPERIENCE                                            */
.exp_con{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: start;
    gap: 2rem;
    max-width: 75.75rem;
    background-color: var(--_bg_color);
    padding: 1.5rem;
    border-radius: .8rem;
    margin: 1rem;
    box-shadow: 0 5px 10px var(--_card_shadow);
}
.exp_details h1{
    font-size: var(--l);
    margin-bottom: 1rem;
    color: var(--_title_color);
}
.exp_details h2{
    font-size: var(--m);
    margin-bottom: 1rem;
    color: var(--_title_color);
}
.exp_details p{
    font-size: var(--s);
    text-indent: 2em;
    color: var(--_p_color);
}
.slide-up{
    transform: translateY(-6rem);
}
/*                                   ABOUT                                         */
.about_con{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center; 
    width: 100%;
    padding: 0 1rem 0 1rem;
    margin: 1rem 0 1rem;
}
.about_details_con{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 55rem;
    justify-content: flex-start;
}
.about_bg_con{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.about_pic img{
    width: 18.75rem;
    height: 25rem;
    border: var(--_p_color) 2px solid;
    border-radius: 2rem;
}
.about_bg{
    border: var(--_p_color) 2px solid;
    border-radius: 2rem;
    padding: 2rem;
    flex: 1;
    display: flex;
    flex-direction: column;
}
.about_bg h1{
    color: var(--_title_color);
    font-size: var(--l);
    
}
.about_bg p{
    color: var(--_p_color);
    font-size: var(--s);
}
.about_icon{
    width: 2.5rem;
    height: 2.5rem;
}

.about_text p{
    text-indent: 3em;
    color: var(--_p_color);
    font-size: var(--s);
}
/*                      SKILLS                        */
.skills_con{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 1rem 0 1rem;
    flex-direction: column;
}
.skill_all{
    display: flex;
    gap: 2rem;
    max-width: 75.75rem;
    margin: 1rem 0 1rem;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30vw;
    gap: 2rem;
    border: var(--_p_color) 2px solid;
    border-radius: 2rem;
    padding: 2rem;
    max-width: 55rem;
    width: 100%;

}
.skills h4{
    color: var(--_title_color);
    font-size: var(--l);
}
.skill{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-around;
}

.skill article {
    display: flex;
    width: 7.5rem;
    justify-content: space-around;
    gap: 0.5rem;
}
.skill article h3{
    color: var(--_title_color);
    font-size: var(--m);
}
.skill article h5{
    color: var(--_title_color);
    font-size: var(--s);
}
.skill article p{
    color: var(--_p_color);
    font-size: var(--s);
}
.icon, .contact_icon{
    width: 2.5rem;
    height: 2.5rem;
}
#contact_strip{
    padding: 1rem;
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: 2rem;
}
.contact_details_con{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 10rem;
    gap: .3rem;
}
.contact_details{
    font-size: var(--m);
    color: var(--_title_color);
}
.contact_sub_details{
    font-size: var(--ss);
    color: var(--_p_color);
}
footer {
    background-color: var(--_bg_color);
    color: var(--_p_color);
    padding-bottom: 3rem;
}
.footer_con{
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
  
footer p {
    text-align: center;
    font-size: var(--ss);
}
.nav_footer_links{
    gap: 2rem;
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
    color: var(--_p_color);
}
.nav_footer_links li{
    font-size: var(--m);
}