@font-face {
    font-family: 'k2d';
    src: url('font/K2D-Regular.ttf') format('truetype');
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'k2d', sans-serif;
}

body.open{
    --bg_color: #212121;
    --card_color: #303030;
    --navbar_color: #000000;
    --primary_color: rgba(255, 255, 255, 1);
    --secondary_color: rgba(255, 255, 255, .7);
    --hint_color: rgba(255, 255, 255, .5);
}
body{
    --title_font_size: 2.5rem;
    --_primary_color: var(--primary_color, rgba(0, 0, 0, .87));
    --_secondary_color: var(--secondary_color, rgba(0, 0, 0, .54));
    --_hint_color: var(--hint_color, rgba(0, 0, 0, .38));
    --_bg_color: var(--bg_color, #F5F5F5);
    --_navbar_color: var(--navbar_color, #E0E0E0);
    --_card_color: var(--card_color, #FAFAFA);
}
html {
    scroll-behavior: smooth;
}
/* WEB NAV */
#head_nav{
    position: fixed;
    max-height: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 4fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    z-index: 2000;
    transition: transform 0.3s ease-in;
}
.logo_con{
    height: 4rem;
    display: grid;
    width: 100%;
    place-items: center;
}
.logo{
    height: 2rem;
    width: 2rem;
}
.head_nav_sections, .hamburger_menu{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.head_nav_sections ul{
    gap: 2.5rem;
    list-style: none;
    font-size: 1.5rem;
    display: flex;
}
a{
    color: var(--_primary_color);
    text-decoration: none;
    text-decoration-color: var(--_primary_color);
}
.hamburger_menu{
    display: none;
}
.hamburger_icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    width: 23px;
    cursor: pointer;
}
.hamburger_icon span {
    width: 100%;
    height: 2px;
    background-color: var(--_primary_color);
}
.mobile_nav_sections{
    display: none;
    border: 1px solid black;
    background: black;
    min-height: 140px;
    height: 40vh;
}
.mobile_nav_sections ul{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}
.mobile_nav_sections li{
    list-style: none;
    font-size: 1.2rem;
}
.mobile_nav_sections.open {
    display: none;
    width: 100%;
    grid-column: 3;
    place-items: center;
}
.hamburger_icon.open span:first-child {
    opacity: 0;
}
.hamburger_icon.open span:nth-child(2) {
    transform: rotate(45deg);
}
.hamburger_icon.open span:last-child {
    opacity: 1;
    transform: rotate(-45deg) translate(6px,-6px);
}
.section_title{
    font-size: var(--title_font_size);
    color: var(--_primary_color);
    padding: 2rem;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 450px;
}
/*                                   HOME                                            */
#home {
    background-color: var(--_bg_color);
    height: clamp(440px, 100vh, 600px);
}
.home_pic{
    height: 450px;
    width: 450px;
}
.home_details_card {
    align-self: center;
    text-align: center;
}

.home_details_card p {
    font-weight: 600;
    /* text-shadow: 0 0 10px #01fff4; */ 
}
.home_text_p1 {
    text-align: center;
    color: var(--_secondary_color);
}
#home_text_p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
    color: var(--_secondary_color);
}
.title {
    font-size: 3rem;
    text-align: center;
    color: var(--_primary_color);
}

#socmed_card {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
#socmed_card img{
    width: 2rem;
    transition: transform .3s ease-out;
    opacity: 50%;
}
#socmed_card img:hover{
    transform: scale(1.2);
    opacity: 100%;
}
/*                                   PROJECTS                                            */
#projects, #experience, #about{
    flex-direction: column;
    height: fit-content;
    min-height: fit-content;
    background-color: var(--_bg_color);
    width: 100%;
}
.card_list {
    display: flex;
    justify-content: center;
    padding: 3rem;
    margin: 1rem;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    align-items: center;

}
.card_list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card_list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
.card_list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}
.card {
    width: clamp(350px, 60vw, 75.75rem);
    height: clamp(350px,60vw, 650px);
    border-radius: 10px;
    background: var(--_card_color);
    /*box-shadow: -1rem 1rem 3rem #01fff4;*/
    display: grid;
    align-items: center;
    transition: transform 0.7s ease;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    grid-template-rows: 5fr 1fr 3fr 1fr;
}

.animateY{
    transform: translateY(320px);
}
.card:not(:first-child) {
    margin-top: -320px;
}
.card-header {
    text-align: center;

}
.card-header h2 {
    font-size: 1.4rem;
    text-decoration: none;
    cursor: pointer;
    color: var(--_primary_color);
}
.card p{
    font-size: 1.1rem;
    margin: 0 1rem 0 1rem;
    align-self: flex-start;
    text-indent: 2em;
    color: var(--_secondary_color);
}
.project_img{
    width: 100%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.tags {
    line-height: 2;
    margin: 0 0 1rem 1rem;
}
.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: var(--_hint_color);
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid var(--_secondary_color);
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}

/*                                   EXPERIENCE                                            */
.exp_con{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: start;
    gap: 2rem;
    max-width: 75.75rem;
    background-color: var(--_card_color);
    padding: 1.5rem;
    border-radius: .8rem;
    margin: 1rem;
}
.exp_details h1{
    font-size: 1.4rem;
    margin-bottom: 1rem;
    color: var(--_primary_color);
}
.exp_details h2{
    font-size: 1.1rem;
    margin-bottom: 1rem;
    color: var(--_primary_color);
}
.exp_details p{
    font-size: 1.1rem;
    text-indent: 2em;
    color: var(--_secondary_color);
}
.slide-up{
    transform: translateY(-6rem);
}
/*                                   ABOUT                                         */
.about_con{
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center; 
    width: 100%;
    padding: 0 1rem 0 1rem;
}
.about_details_con{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 55rem;
}
.about_bg_con{
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}
.about_pic img{
    width: 18.75rem;
    height: 25rem;
    border: var(--_primary_color) 2px solid;
    border-radius: 2rem;
}
.about_bg{
    border: var(--_primary_color) 2px solid;
    border-radius: 2rem;
    padding: 2rem;
    flex: 1;
}
.about_bg h1{
    color: var(--_primary_color);
    font-size: 1.4rem;
}
.about_bg p{
    color: var(--_secondary_color);
    font-size: 1.1rem;
}
.about_icon{
    width: 2.5rem;
    height: 2.5rem;
}

.about_text p{
    text-indent: 3em;
    color: var(--_secondary_color);
    font-size: 1.1rem;
}
  
  
  
  
  
  


