@font-face {
    font-family: 'k2d';
    src: url('font/K2D-Regular.ttf') format('truetype');
}
:root{
    --title_font_size: 3rem;
    --bg_color: #17141d;
    --bg_color_2: #222;


}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    overflow-x: hidden;
    font-family: 'k2d', sans-serif;
}
html {
    scroll-behavior: smooth;
}
/* WEB NAV */
#head_nav{
    position: fixed;
    max-height: 4rem;
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 2fr 4fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    background: #17141d;
    z-index: 2000;
}
.logo_con{
    height: 4rem;
    display: grid;
    width: 100%;
    place-items: center;
}
.logo{
    height: 2.5rem;
    width: 2.5rem;
}
.head_nav_sections, .hamburger_menu{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.head_nav_sections ul{
    gap: 2.5rem;
    list-style: none;
    font-size: 1.5rem;
    display: flex;
}
a{
    color: #01fff4;
    text-shadow: 0 0 10px #01fff4;
    text-decoration: none;
    text-decoration-color: white;
}
.hamburger_menu{
    display: none;
}
.hamburger_icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 18px;
    width: 23px;
    cursor: pointer;
}
.hamburger_icon span {
    width: 100%;
    height: 2px;
    background-color: #27374D;
    transition: all 0.3 ease-in-out;
}
.mobile_nav_sections{
    display: none;
    border: 1px solid black;
    background: cyan;
    min-height: 140px;
    height: 40svh;
}
.mobile_nav_sections ul{
    display: flex;
    flex-direction: column;
    gap: 4svh;
}
.mobile_nav_sections li{
    list-style: none;
    font-size: 1.2rem;
}
.mobile_nav_sections.open {
    display: none;
    width: 100%;
    grid-column: 3;
    place-items: center;
}
.hamburger_icon.open span:first-child {
    opacity: 0;
}
.hamburger_icon.open span:nth-child(2) {
    transform: rotate(45deg);
}
.hamburger_icon.open span:last-child {
    opacity: 1;
    transform: rotate(-45deg) translate(6px,-6px);
}
.section_title{
    font-size: var(--title_font_size);
    color: #01fff4;
    padding: 2rem;
}
.section{
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 450px;
}
/*                                   HOME                                            */
#home {
    gap: 4rem;
    background-color: var(--bg_color);
    height: clamp(440px, 100svh, 600px);
}
.home_pic{
    border-radius: 50%;
    border: 2px solid #27374D;
    height: 350px;
    width: 350px;
}
.home_details_card {
    align-self: center;
    text-align: center;
    color: #27374D;
}

.home_details_card p {
    font-weight: 600;
    color: #01fff4;
    text-shadow: 0 0 10px #01fff4;  
}
.home_text_p1 {
    text-align: center;
    color: #27374D;
}
#home_text_p2 {
    font-size: 1.75rem;
    margin-bottom: 1rem;
}
.title {
    font-size: 3rem;
    text-align: center;
    color: #27374D;
    color: #01fff4;
    text-shadow: 0 0 10px #01fff4;
}

#socmed_card {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}
#socmed_card img{
    width: 2rem;
}
/*                                   PROJECTS                                            */
#projects, #experience, #about{
    flex-direction: column;
    height: fit-content;
    min-height: fit-content;
    background-color: var(--bg_color_2);
    width: 100%;
}
.card_list {
    display: flex;
    justify-content: center;
    background-color: var(--bg_color_2);
    padding: 3rem;
    margin: 1rem;
    overflow: hidden;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding-right: 7.5rem;

}
.card_list::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
.card_list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25), inset -2px -2px 2px rgba(0,0,0,.25);
}
.card_list::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#201c29,#201c29 1px,#17141d 0,#17141d);
}
.card {
    width: clamp(350px, 60vw, 1200px);
    height: clamp(350px,45vw,550px);
    border-radius: 10px;
    background: #17141d;
    box-shadow: -1rem 1rem 3rem #01fff4;
    display: grid;
    align-items: center;
    transition: .4s;
    scroll-snap-align: start;
    clear: both;
    position: relative;
    grid-template-rows: 5fr 1fr 3fr 1fr;
}

.animateX{
    transform: translateX(2.5rem);
}
.animateY{
    transform: translateY(180px);
}
.card:not(:first-child) {
    margin-top: -180px;
}
.card-header {
    text-align: center;

}
.card-header h2 {
    font-size: 20px;
    text-decoration: none;
    cursor: pointer;
}
.card-header h2:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.card p{
    text-align: justify;
    font-size: 12px;
    margin: 0 1rem 0 1rem;
    align-self: flex-start;
    text-indent: 2rem;
}
.project_img{
    width: 100%;
    border-top-left-radius: 10px; 
    border-top-right-radius: 10px;
}
.tags {
    line-height: 2;
    margin: 0 0 1rem 1rem;
}
.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #7a7a8c;
    text-transform: uppercase;
    font-size: .66rem;
    border: 3px solid #28242f;
    border-radius: 2rem;
    padding: .2rem .85rem .25rem;
    position: relative;
}
.tags a:hover {
    background: linear-gradient(90deg,#ff8a00,#e52e71);
    text-shadow: none;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-box-decoration-break: clone;
    background-clip: text;
    border-color: white;
}
/*                                   EXPERIENCE                                            */
#experience{
    background-color: var(--bg_color);
}
.exp_con{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(3,1fr);
    place-items: start;
    background-color: #7a7a8c;
    gap: 2rem;
    max-width: 1200px;
}
.exp_company{
    font-size: 1.4rem;
    margin-bottom: 1rem;
}
.exp_position{
    font-size: 1.1rem;
    margin-bottom: 1rem;
}
.exp_details{
    font-size: 1.1rem;
    text-align: justify;
}

@keyframes slide-up{
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-6rem);
    }
  }
  
  @keyframes slide-down{
    0% {
        transform: translateY(-6rem);
    }
    100% {
        transform: translateY(0rem);
    }
}
.slide-up{
    animation: slide-up .05s ease-in forwards;
  }
  
  .slide-down{
    animation: slide-down .1s ease-out forwards;
  }


