@media screen and (max-width: 700px){
    .navigation{
        display: none;
    }
    .toggleMenu{
        display: flex;
    }
    header {
        padding: .5em 0;
        height: 3em;
        gap: 10em;
    }
    .hamburger-navigation ul{
        display: flex;
        flex-direction: column;
    }
    .logo img {
        width: 35px;
    }
      
    .logo h1 {
        font-weight: 700;
        font-size: 20px;
    }
    .header-blur{
        height: 4em;
    }
    .backdrop{
        top: 4em;
    }
    .center-text h1{
        font-size: clamp(24px,6vw,40px);
    }
    .display-background > img {
        width: 200%;
    }
}
@media screen and (max-width: 500px){
    .display-transaction-type h1, .display-transaction-serving h1{
        font-size: 20px;
    }
}
@media screen and (max-width: 400px){
    .display-background > img {
        width: 300%;
    }
}